<h1> Welcome to In flight dating App </h1>

<h4> Coming soon on iOS </h4>

<h4>Developed by Rinu Budhbhatti, Nitish Kackar</h4>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
